body {
    background-color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 844px;
    width: 388px;
    margin: auto;

    text-align: center;

    font-size: 20px;
    color: rgb(209, 209, 209);
    background-image: url("profile.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-weight: bold;
    animation: fadeIn 3s 1;
}

#myForm {
    background-color: rgb(204, 204, 204);
    padding: 20px;
    width: 300px;
    height: 360px;
    background: transparent;
    backdrop-filter: blur(5px);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;

    border-radius: 30px;
    animation: borderglow 2s infinite;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
    }

}

@keyframes borderglow {
    0% {
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    }

    50% {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }

    100% {
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    }
}

.a {
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin: auto;
}

#myForm button {
    width: 200px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 5px;
    margin: auto;
    background-color: rgb(28, 248, 248);


}
